@use "foundation" as *;

.p-buy {
  padding: prem(60) 0;
  background-color: $color-black-02;
  @include mq("md") {
    padding: prem(40) 0;
  }
}

.p-buy__inner {
  margin-inline: auto;
  padding: 0 prem(25);
  max-width: prem(1250);
  @include mq("md") {
    padding: 0 prem(20);
  }
}

.p-buy__contents {
  padding: prem(40) prem(25);
  @include mq(md) {
    padding: prem(30) prem(20);
  }
}

.p-buy__title {
  font-size: prem(28);
  font-weight: $bold;
  text-align: center;
  color: $color-white;
  opacity: 0;
  @include mq("md") {
    font-size: prem(20);
  }
}

.p-buy__title.is-active {
  animation: fadeIn 0.6s ease-out forwards;
}

.p-buy__step-list {
  margin-top: prem(40);
  list-style: none;
  counter-reset: step-counter;
  padding: 0;
  text-align: center;
  @include mq(md) {
    margin-top: prem(30);
  }
}

.p-buy__step-item {
  position: relative;
  counter-increment: step-counter;
  opacity: 0;
}

.p-buy__step-item.is-active {
  animation: fadeIn 0.6s ease-out forwards;
}

.p-buy__step-item + .p-buy__step-item {
  margin-top: prem(16);
}

.p-buy__step-title {
  font-family: $font-family-second;
  font-size: prem(18);
  font-weight: $bold;
  color: $color-white;
  @include mq(md) {
    display: flex;
    flex-direction: column;
    row-gap: prem(8);
  }
  &::before {
    content: "STEP" counter(step-counter) " ";
    display: inline-block;
    margin-right: prem(8);
    font-size: prem(20);
  }
}

.p-buy__step-text {
  margin-top: prem(8);
  font-size: prem(18);
  color: $color-white;
  @include mq(md) {
    font-size: prem(16);
  }
}

.p-buy__step-arrow {
  margin-top: prem(16);
  display: inline-block;
  width: prem(20);
  height: prem(20);
  border-bottom: 2px solid $color-white;
  border-left: 2px solid $color-white;
  transform: rotate(-45deg);
  @include mq(md) {
    width: prem(16);
    height: prem(16);
  }
}
